version: 3.0.{build}
environment:
  QTDIR: C:\Qt\5.10.1\mingw53_32
  PATH: '%PATH%;%QTDIR%\bin;C:\MinGW\bin'
build_script:
  - qmake src\Sirius_win.pro
  - mingw32-make
after_build:
  - xcopy /e /i src\config Sirius\config
  - xcopy src\qt.conf Sirius\
  - xcopy %QTDIR%\qml\QtQuick.2\qtquick2plugin.dll Sirius\qml\QtQuick.2\
  - xcopy %QTDIR%\qml\QtQuick.2\plugins.qmltypes Sirius\qml\QtQuick.2\
  - xcopy %QTDIR%\qml\QtQuick.2\qmldir Sirius\qml\QtQuick.2\
  - xcopy %QTDIR%\plugins\styles\qwindowsvistastyle.dll Sirius\plugins\styles\
  - xcopy %QTDIR%\plugins\platforms\qwindows.dll Sirius\plugins\platforms\
  - xcopy %QTDIR%\bin\Qt5Core.dll Sirius\
  - xcopy %QTDIR%\bin\Qt5Quick.dll Sirius\
  - xcopy %QTDIR%\bin\Qt5Qml.dll Sirius\
  - xcopy %QTDIR%\bin\Qt5Widgets.dll Sirius\
  - xcopy %QTDIR%\bin\Qt5Gui.dll Sirius\
  - xcopy %QTDIR%\bin\Qt5Network.dll Sirius\
  - xcopy %QTDIR%\bin\libgcc_s_dw2-1.dll Sirius\
  - xcopy %QTDIR%\bin\libstdc++-6.dll Sirius\
  - xcopy %QTDIR%\bin\libwinpthread-1.dll Sirius\
  - xcopy %APPVEYOR_BUILD_FOLDER%\release\Sirius.exe Sirius\
  - 7z a Sirius.zip Sirius\ -r
artifacts:
  - path: Sirius.zip
    name: Sirius

